@use './globals.scss' as globals;

.Development {
    @include globals.rounded-box;
    border-radius: 5vmin;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 1;
    flex-grow: 1;
    width: 20vw;
    .Title {
        font-size: 1.2em;
        font-weight: bold;
    }
    .Subtitle {
        position:relative;
        top: -1.5em;
        font-size: 0.8em;
        margin-top: 0.5em;
    }

    .Description {
        height: 100%;
    }
    
    .UserDetail {
        justify-self: flex-end;
    }
}