$highlight: #303030;
$highlight2: #3f3f3f;
$background: #212121;
$detail: #2b2b2b;

.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}

.description {
    font-size: 0.6em;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 0.8em;
    margin-top: 0px;
}

@mixin highlight($color: #ffffff99, $shadow-blur: 20px) {
    &:hover  {
        background-color: $highlight;
        box-shadow: 0px 0px $shadow-blur $color;
    }
    transition: background-color 0.2s ease-in-out, box-shadow 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

@mixin rounded-box ( $shadow-color: #00000066, $shadow-blur: 5px ) {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8em;
    margin: 1vw;
    padding: 10px 25px 10px 25px;
    background-color: $detail;
    box-shadow: 0px 0px $shadow-blur $shadow-color;
    border-radius: 100px;
    
    cursor:default;
}