@use './globals.scss' as globals;

.Hackathon {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    text-align: left;
    padding: 35px;
    width: 80%;
    margin: calc(10px + 1vmax);
    background-color: globals.$detail;
    border-radius: 5vmin;
    @include globals.highlight;

    @media screen and (max-width: 1080px) {        
        .entries {
            overflow-x: scroll;
            justify-content: flex-start;
        }
    }
}