@use './globals.scss' as globals;

//if screen is landscape


.Navbar {
    display: flex;
    flex-direction: row;
    height: 7%;
    width: 100%;
    justify-content: left;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    background-color: globals.$detail;

    .Logo {
        height: 7vmin;
        padding: 0px;
    }

    
    .Title {
        color: white;
        font-size: calc(10px + 2vmin);
        text-decoration: none;
    }

    
    > * {
        padding: 0px 10px 0px 10px
    }

}

.NavButton {
    color: white;
    background: globals.$detail;
    min-height: 7vh;
    max-height: calc(10px + 7vh);
    font-size: calc(10px + 2vmin);
    height: 100%;
    text-align: center;
    text-decoration: none;
    line-height: calc(10px + 7vh);

    &.active {
        background: globals.$highlight2;
        box-shadow: 0px 5px 0px #e3e3e3
    }

    &:hover:not(.active) {
        background: globals.$highlight;
        box-shadow: 0px 5px 0px #e3e3e3
    }

    transition: box-shadow 0.3s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.2s ease-in-out;

}


.VerticalSplit {
    border-left: 2px solid #212121;
    height: 6vh;
    margin: 0px 10px 0px 10px;
    padding: 0px;
}
