@use './globals.scss' as globals;

.userCard {
    @include globals.rounded-box;
    background-color: globals.$highlight;

    width: fit-content;
    .name {
        font-size: 1.2em;
        font-weight: bold;
    }

    &.small {
        .name {
            font-size: 0.8em;
        }
        .profilePic {
            width: min(60px, 10vmin);
            height: auto;
        }

        padding: 3.5px 10px 3.5px 10px;
    }

    .profilePic {
        width: min(100px, 10vmin);
        height: auto;
        border-radius: 50%;
        margin-right: 10px;
    }
}